@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@inject IHtmlLocalizer<SharedResources> _sharedLocalizer
@{
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<div class="page-title-box">
    <div class="page-title-right">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
            <li class="breadcrumb-item active">Starter</li>
        </ol>
    </div>
    <h4 class="page-title">@_sharedLocalizer["Test"].Value</h4>
    <button onclick="GetData()">@_sharedLocalizer["Button1"].Value</button>

    <table class="table">
        <tr>
            <td style="width:50%;">Culture</td>
            <td>@requestCulture.Culture.DisplayName {@requestCulture.Culture.Name}</td>
        </tr>
        <tr>
            <td>UI Culture</td>
            <td>@requestCulture.UICulture.Name</td>
        </tr>
        <tr>
            <td>UICulture Parent</td>
            <td>@requestCulture.UICulture.Parent</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>@DateTime.Now.ToLongDateString()</td>
        </tr>
        <tr>
            <td>Currency</td>
            <td>
                @(320000.00.ToString("c"))
            </td>
        </tr>
        <tr>
            <td>Number</td>
            <td>
                @(0.00025.ToString("F5"))
            </td>
        </tr>
    </table>

    @section scriptsAfter
    {
        <script>
            function GetData() {
                ajaxHelpers.ajaxCall('POST', '/Home/GetDummyData', null, 'text', getData);

                function getData(data) {
                    console.log(data);

                    alert(data);
                }
            }
        </script>
    }

</div>